# Introduction

https://cognitiveclass.ai/mit-license

This notebook illustrates how to access your IBM DB2 DataWareHouse database instance on Cloud using Python by following the steps below:

1. Import the `ibm_db` Python library
1. Identify and enter the database connection credentials
1. Create the database connection
1. Create a table
1. Insert data into the table
1. Retrieve the result set into a pandas dataframe
1. Close the database connection


## Import the `ibm_db` Python library

The `ibm_db` [API ](https://pypi.python.org/pypi/ibm_db/) provides a variety of useful Python functions for accessing and manipulating data in an IBMÂ® data server database, including functions for connecting to a database, preparing and issuing SQL statements, fetching rows from result sets, calling stored procedures, committing and rolling back transactions, handling errors, and retrieving metadata.


We import the ibm_db library into our Python Application

This notebook has been adapated from a notebook material under https://cognitiveclass.ai/mit-license

In [26]:
import ibm_db



> Task 2: Identify the database connection credentials

Connecting to dashDB or DB2 database requires the following information:
* Driver Name
* Database name 
* Host DNS name or IP address 
* Host port
* Connection protocol
* User ID
* User Password

In [27]:
#Replace the placeholder values with the actuals for your Db2 Service Credentials
dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "database"            # e.g. "BLUDB"
dsn_hostname = "hostname"            # e.g.: "dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net"
dsn_port = "port"                    # e.g. "50000" 
dsn_protocol = "protocol"            # i.e. "TCPIP"
dsn_uid = "username"                 # e.g. "abc12345"
dsn_pwd = "password"                # e.g. "7dBZ3wWt9XN6$o0J"

> Credentials below are to be retrieved on one's IBM Cloud DB2WH instance.

In [28]:
dsn1 = {
  "hostname": "dashdb-.services.eu-de.bluemix.net",
  "password": "xxxxxyyyyyyyyyzzzz",  # ""
  "https_url": "xxxxxyyyyyyyyyzzzz",  
  "port": 50000,
  "ssldsn": "xxxxxyyyyyyyyyzzzz",  
  "host": "dashdb-txn-flex-yp-fra02-222.services.eu-de.bluemix.net",
  "jdbcurl": "jdbc:db2://dashdb-txn-",
  "uri": "db2://bluadmin:YWQa02-222.services.eu-de.bluemix.net:50000/BLUDB",
  "db": "BLUDB",
  "dsn": "xxxxxyyyyyyyyyzzzz",  
  "username": "bluadmin",
  "ssljdbcurl": "xxxxxyyyyyyyyyzzzz"
}

In [30]:


dsn_hostname = dsn1['hostname'] # e.g.: "dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net"
dsn_uid = dsn1['username']       # e.g. "abc12345"
dsn_pwd = dsn1['password']     # e.g. "7dBZ3xxxxxx9XN6$o0J"

dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = dsn1['db']            # e.g. "BLUDB"
dsn_port = "50000"                # e.g. "50000" 
dsn_protocol = "TCPIP"            # i.e. "TCPIP"

## Task 3: Create the database connection

Ibm_db API uses the IBM Data Server Driver for ODBC and CLI APIs to connect to IBM DB2 and Informix.


Create the database connection

In [31]:
#Create database connection
#DO NOT MODIFY THIS CELL. Just RUN it with Shift + Enter
# import os
import datetime
now = datetime.datetime.now()
#print(now.strftime('%Y-%m-%d-%H-%M'))
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd)

try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

Connected to database:  BLUDB as user:  bluadmin on host:  dashdb-txn-flex-yp-fra02-222.services.eu-de.bluemix.net

## Task 4: Create a table in the database

> In this step we will create a table in the database with following details:

In [32]:
conn

In [33]:
#Lets first drop the table  in case it exists from a previous attempt
dropQuery = "drop table BUS"

#Now execute the drop statment
dropStmt = ibm_db.exec_immediate(conn, dropQuery)

In [34]:
#Construct the Create Table DDL statement - replace the ... with rest of the statement
createQuery = "create table BUS (scid INTEGER primary key not null, scname varchar(20), kids INTEGER);"

#Now fill in the name of the method and execute the statement
createStmt = ibm_db.exec_immediate(conn, createQuery)

> Task 5: Insert two rows of data into the table

In [35]:
#Construct the query - replace ... with the insert statement

insertQuery = "insert into BUS values (1, 'Scenario1', 300), (2, 'Sce2', 400);"

print (insertQuery)
insertStmt = ibm_db.exec_immediate(conn, insertQuery)

insert into BUS values (1, 'Scenario1', 300), (2, 'Sce2', 400);

> Check data

In [36]:
import pandas as pd
import ibm_db_dbi

selectstm = "select * from BUS;"

select = ibm_db.exec_immediate(conn, selectstm)

#Fetch the Dictionary (for the first row only) - replace ... with your code
a = ibm_db.fetch_both(select)
a.keys()

dict_keys(['SCID', 0, 'SCNAME', 1, 'KIDS', 2])

> Retrieva BUS data in a dataframe

In [37]:
selectstm

'select * from BUS;'

In [38]:
#connection for pandas
pconn = ibm_db_dbi.Connection(conn)

In [39]:
df = pd.read_sql(selectstm, pconn)
df.head()

   SCID     SCNAME  KIDS
0     1  Scenario1   300
1     2       Sce2   400

In [40]:
df

   SCID     SCNAME  KIDS
0     1  Scenario1   300
1     2       Sce2   400

## Task 8: Close the Connection
We free all resources by closing the connection. Remember that it is always important to close connections so that we can avoid unused connections taking up resources.

In [41]:
ibm_db.close(conn)

True

Copyright Â© 2017-2019 IBM. This notebook and its source code are released under the terms of the MIT License.